<h1>This is Shell App which will be used to load MFE.</h1>

<div class="menu">
    <div>
        <button class="btn btn-secondary" type="button" routerLink="/"> Home </button>   
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Contents
        </button>
        <ul class="dropdown-menu">
          <li><button class="dropdown-item" type="button" routerLink="/word-card-deck">Word Card</button></li>
          <li><button class="dropdown-item" type="button" routerLink="/flash-card-deck">Flash Card</button></li>
        </ul>
    </div>
</div>
<router-outlet></router-outlet>
